<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'mysite/ratelog.css' %}">
  <title>Change Password</title>
</head>

<body>
  <header>
    <div class="logo">
      <img src="{% static 'mysite/logo.png' %}" alt="Dominion University Ibadan Logo">
    </div>
    <h1>Dominion University Ibadan</h1>
  </header>

  <main>
    <div class="container">
      <div class="card">
        <div class="toggle-buttons">
          <button id="login-btn" class="active">Change Password</button>
        </div>

        <form method="post" action="" id="login-form">
            {% csrf_token %}
          <h2>Change Password</h2>
          <input type="password" placeholder="Password" required>
          <input type="password" placeholder="Confirm Password" required>
          <button type="submit">Submit</button>
        </form>
    </div>
  </main>

  <script src="{% static 'mysite/ratelog.js' %}"></script>
</body>

</html>
